<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の詳細</h2>
  <tr><td>すがた</td><td><% if (data.image) { %><img src="/public/<%= data.image %>" width="150"><% } %></td></tr>
  <table>
    <tr><th>項目</th><th>データ</th></tr>
    <tr><td>図鑑番号</td><td><%= data.code %></td></tr>
    <tr><td>ポケモン名</td><td><%= data.name %></td></tr>
    <tr><td>分類</td><td><%= data.bunrui %></td></tr>
    <tr><td>タイプ</td><td><%= data.type %></td></tr>
    <tr><td>高さ</td><td><%= data.takasa %>m</td></tr>
    <tr><td>重さ</td><td><%= data.omosa %>kg</td></tr>
    <tr><td>説明</td><td><%= data.setumei %></td></tr>
  </table>
  <a href="/pokemonzukan/edit/<%= id %>">編集</a>
  <a href="/pokemonzukan">図鑑一覧に戻る</a>
  <a href="/pokemonzukan/delete/<%= id %>">削除</a>
</body>
</html>