<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の詳細</h2>
  <table>
    <tr><th>項目</th><th>データ</th></tr>
    <tr><td>名前</td><td><%= data.name %></td></tr>
    <tr><td>レベル制限</td><td><%= data.level %>~</td></tr>
    <tr><td>ATKの数値</td><td><%= data.Atk %></td></tr>
    <tr><td>MATの数値</td><td><%= data.Mat %></td></tr>
    <tr><td>POWの数値</td><td><%= data.Pow %></td></tr>
    <tr><td>INTの数値</td><td><%= data.Int %></td></tr>
    <tr><td>SPDの数値</td><td><%= data.Spd %></td></tr>
    <tr><td>VITの数値</td><td><%= data.Vit %></td></tr>
    <tr><td>LUKの数値</td><td><%= data.Luk %></td></tr>
    <tr><td>説明</td><td><%= data.setumei %></td></tr>
    <tr><td>作成するのに必要な素材</td><td><%= data.sozai %></td></tr>
  </table>
  <a href="/saikyouken/edit/<%= id %>">編集</a>
  <a href="/saikyouken">最強剣一覧に戻る</a>
  <a href="/saikyouken/delete/<%= id %>">削除</a>
</body>
</html>